---
---
<footer class="site-footer">
  <span>Bengaluru</span>
  <a href="https://github.com/mSounak">GitHub</a>
  <a href="https://www.linkedin.com/in/msounak">LinkedIn</a>
  <a href="https://twitter.com/mSounak2000">Twitter</a>
  <a href="mailto:sounak.mukherjee2000@gmail.com">Email</a>
</footer>
