---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <span>© {year} Sounak Mukherjee</span>
  <span class="sep">·</span>
  <a href="https://github.com/mSounak">github</a>
  <span class="sep">·</span>
  <a href="https://twitter.com/mSounak2000">twitter</a>
  <span class="sep">·</span>
  <a href="https://www.linkedin.com/in/msounak">linkedin</a>
  <span class="sep">·</span>
  <a href="/posts/rss.xml">rss</a>
</footer>
