---
const { current } = Astro.props as { current?: "home" | "posts" | "projects" | "about" };
---
<nav class="site-nav">
  <a href="/" class={`name ${current === "home" ? "home" : ""}`}>Sounak Mukherjee</a>
  <div class="site-nav-links">
    <a href="/posts">/posts</a>
    <a href="/projects">/projects</a>
    <a href="/about">/about</a>
  </div>
</nav>
